body,
html {
  margin: 0;
}
#container {
  width: 100vw;
  height: 100vh;
  background: pink;
  display: flex;
  justify-content: center;
  align-items: center;
}
button {
  border: none;
  padding: 10px 25px;
  color: white;
  font-size: 2rem;
  background: linear-gradient(to right, red, blue);
}
